body {
    font-family: system-ui, "Segoe UI", "Roboto", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background-image: linear-gradient(#000000 60%, #020617 90%);
    background-repeat: no-repeat;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
    display: flex;
    margin: 0;
    padding: 0;
    flex-direction: column;
    color: #fff;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media (min-width:600px) {}

@media (max-width:599px) {}

.nav_bar {
    display: grid;
    grid-template-columns: 2fr 1fr;
    align-items: center;
    padding-right: 10%;
    padding-left: 10%;
    padding-top: 10px;
    font-family: "Oldenburg";
    color: #fff;
    position: fixed;
    background-color: #000000;
    z-index: 1000;
}

.nav_links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
    font-size: 1.8rem;
}

.nav_links>div {
    display: grid;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
    color: #fff;
}

.myName {
    font-size: 2rem;
    color: #B197FC
}

.hd-style {
    width: fit-content;
    border: 1px solid white;
    border-radius: 25px;
    padding: 6px 12px;
    color: #B197FC;
}

#projects-box {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.project-card {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 25px;
    margin: 10px;
    padding: 10px;
    background-color: #1e293b;
    box-shadow: 5px 5px 15px 2px #2e1065;
}

.project-card:hover {
    transform: scale(1.1);
    box-shadow: 5px 5px 15px 2px #6b21a8;
    cursor: pointer;
}

#hero {
    width: 90vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    position: relative;
    color: #fff;
}

#skills {
    display: flex;
    flex-direction: column;
    height: 90vh;
    width: 80%;
    align-self: center;
    justify-self: center;
    margin-bottom: 50px;
    font-family: "Oldenburg";
    color: #fff;
}

.skillsGrid {
    display: grid;
    width: 100%;
    height: 95%;
    gap: 30px;
    grid-template: 1fr 1fr / 1fr 1fr 1fr;
    padding: 20px;
}

.gridSk {
    border: 2px solid white;
    border-radius: 15px;
    box-shadow: 5px 5px 15px 2px #2e1065;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gridSk:hover {
    border-radius: 30px;
    transform: scale(1.1);
    box-shadow: 5px 5px 15px 2px #6b21a8;
    cursor: pointer;
}

#about {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 90vh;
    width: 80%;
    align-self: center;
    justify-self: center;
    font-family: "Oldenburg";
    color: #fff;
}

#portType {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-size: 6rem;
    font-family: "Londrina Outline";
    color: #6d28d9;
    opacity: 0.2;
}

#intro {
    position: absolute;
    font-weight: 900;
    font-size: 2.5rem;
    width: 80%;
}

i {
    color: #B197FC;
    font-size: 160px;
}

.cl-hd {
    color: #B197FC;
}

#projects {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-height: 90vh;
    align-self: center;
    justify-self: center;
    margin-bottom: 50px;
    font-family: "Oldenburg";
    color: #fff;
}

#contact {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 90vh;
    align-self: center;
    justify-self: center;
    margin-bottom: 50px;
    font-family: "Oldenburg"
}

canvas {
    height: 100vh;
    z-index: -100000;
    position: fixed;
    top: 0px;
}

.contact_frm {
    display: grid;
    grid-template-columns: 1fr 2fr;

    min-height: 80%;
    width: 100%;
    /* background-color: transparent; */
    background: rgba(255, 255, 255, 0.27);
    color: #fff;
    padding: 30px 40px;
    backdrop-filter: blur(2px);
    border-radius: 16px;
    box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
    -webkit-backdrop-filter: blur(2px);
    border: 1px solid rgba(255, 255, 255, 0.02);
}

#contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.frm_heading {
    font-size: 5rem;
    text-align: center;
    color: #B197FC
}

.frm_image {
    max-width: 100%;
    height: 100%;
}